@model List<A.Models.EmpresaRating>

@{
    ViewData["Title"] = "My Ratings";
}

<table class="table">
    <thead>
        <tr>
            <th>
                Empresa
            </th>
            <th>
                Comentário
            </th>
            <th>
                Avaliação
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(a => item.EmpresaId)
                </td>
                <td>
                    @Html.DisplayFor(a => item.Comentario)
                </td>
                <td>
                    @Html.DisplayFor(a => item.Avaliacao)
                </td>
                <td>
                    <a class="btn btn-danger" asp-action="Delete" asp-controller="EmpresaRatings" asp-route-id="@item.Id">Apagar</a>
                </td>
            </tr>

        }
    </tbody>
</table>