@model IEnumerable<A.Models.Categoria>

@{
    ViewData["Title"] = "Categorias";
}

<h1>Categorias</h1>

<div class="container-fluid d-flex align-content-end justify-content-end mb-3">
    <a class="btn btn-primary" asp-action="Create">Criar nova categoria</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    <a class="mx-1 btn btn-warning text-center" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a class="mx-1 btn btn-danger text-center" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

